{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1>Candidature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
            <tr>
                <td>{{ Candidature.id }}</td>
                <td>
                    <a href="{{ path('candidature_show', {'id': Candidature.id}) }}">show</a>
                    <a href="{{ path('candidature_edit', {'id': Candidature.id}) }}">edit</a>
                </td>
            </tr>
        
        </tbody>
    </table>

    <a class="btn bn-lg grey darken-1 btn-block waves-effect waves-light btn-register" href="{{ path('candidature_new') }}">Create new</a>
{% endblock %}