<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete your account ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn waves-effect waves-light btn-large red lighten-1">Delete account<i class="material-icons">&#xE872;</i></button>
</form>